body {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
}

footer {
    height: 5.4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #25173a;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
}

hotel {
    background-color: aliceblue;
}