* {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat";
}

body {
    background: #370963;
    padding: 0;
    margin: 0;
}

main {
    padding: 0.5vw 2.5vw 1vw;
    width: 50%;
    background-color: #FFFFFF;
    min-height: 100vh;
}

main h1 {
    font-family: "Cinzel", serif;
    font-size: 2.2vw;
    color: #E6B648;
}

main h2 {
    font-family: "Crete Round", sans-serif;
    font-size: 2.4vw;
    font-weight: 400;
    padding: 3vw 4vw 0vw;
    color: #25173A;
}

form {
    padding: 0vw 5vw;
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    font-size: 1.25vw;
    font-weight: 500;
}

form div:not(.checkboxTermos, .linhaComTexto) {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

form input {
    font-size: 1.1vw;
    border-radius: 0.6vw;
    padding: 1vw;
    border: none;
    background-color: #FBF8FF;
    font-family: "Montserrat";
}

.checkboxTermos {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.checkboxTermos input[type="checkbox"] {
    appearance: none; 
    width: 1vw;
    height: 1vw;
    border: 0.1vw solid #1E1E1E;
    border-radius: 0.5vw; 
    background-color: #FFFFFF;
    cursor: pointer;
    position: relative;
}

.checkboxTermos input[type="checkbox"]:checked {
    background-color: #5F2794;
    border-color: #5F2794;
}

.checkboxTermos input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    position: absolute;
    bottom: 0vw;
    left: 0.25vw;
    font-size: 1.75vw;
}

.checkboxTermos label {
    font-size: 1vw;
    font-weight: 300;
    color: #24063F;
}

.checkboxTermos label a {
    font-weight: 500;
}

select {
    font-size: 1.1vw;
    width: 15vw;
    border-radius: 0.5vw;
    align-items: center;
    justify-content: center;
    padding: 0.6vw;
    border: none;
    background-color: #FBF8FF;
    font-family: "Montserrat";
}

.botaoCriarConta {
    font-size: 1.5vw;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 1vw;
    border-radius: 0.8vw;
    cursor: pointer;
    background-color: #370963;
    color: #FFFFFF;
}

.linhaComTexto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8vw;
    color: rgba(0, 0, 0, 0.25);
}

.linhaComTexto hr {
    flex: 1;
    border: none;
    border-top: 0.1vw solid rgba(0, 0, 0, 0.25);
}
    
.botaoCriarComGoogle {
    font-size: 1.25vw;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    border: 0.2vw solid #E6E6E6;
    padding: 1vw;
    border-radius: 0.8vw;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
}

.botaoCriarComGoogle img {
    display: flex;
    object-fit: contain;
    height: 1.5vw;
    margin-right: 8.3vw;
    margin-left: 0.4vw;
}

small {
    display: flex;
    align-self: center;
    margin-bottom: 5vw;
    gap: 0.4vw;
    color: #25173A;
}

small a {
    text-decoration: none;
    color: #5F2794;
}