* {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat";
}

body {
    background: #370963;
    padding: 0;
    margin: 0;
}

main {
    padding: 0.5vw 2.5vw 1vw;
    width: 50%;
    background-color: #FFFFFF;
    min-height: 100vh;
}

main h1 {
    font-family: "Cinzel", serif;
    font-size: 2.2vw;
    color: #E6B648;
}

main h2 {
    font-family: "Crete Round", sans-serif;
    font-size: 2.4vw;
    font-weight: 400;
    padding: 3vw 4vw 0vw;
    color: #25173A;
}

form {
    padding: 0vw 5vw;
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    font-size: 1.25vw;
    font-weight: 500;
}

form div {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

form input {
    font-size: 1.1vw;
    border-radius: 0.6vw;
    padding: 1vw;
    border: none;
    background-color: #FBF8FF;
    font-family: "Montserrat";
}

select {
    font-size: 1.1vw;
    width: 15vw;
    border-radius: 0.5vw;
    align-items: center;
    justify-content: center;
    padding: 0.6vw;
    border: none;
    background-color: #FBF8FF;
    font-family: "Montserrat";
}

.botaoConta {
    font-size: 1.5vw;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 1vw 15.5vw;
    border-radius: 0.8vw;
    cursor: pointer;
    background-color: #370963;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}