/* Header Global */

body {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
}

header {
    height: 5.4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2vw solid #e6b648;
    color: #25173a;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
}

.logoKronosDesktop {
    display: block;
}

.logoKronosMobile {
    display: none;
}

.kronos h1 {
    font-family: "Cinzel", sans-serif;
    font-size: 2.8vw;
    margin-left: 1.5vw;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 35vw;
}

.menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 3vw;           
}

.opcoesHeader {
    list-style: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.opcoesHeader a {
    text-decoration: none;
    color: #25173a;
    font-size: 1.4vw;
    position: relative;
    transition: color 0.3s ease;
}


.opcoesHeader a.ativo {
    color: #e6b648;
}

.areaRestrita {
    height: 2vw;
    cursor: pointer;
    margin-right: 2vw;
    display: flex;
}

@media (max-width: 854px) {
    header {
        height: 7vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0.2vw solid #e6b648;
        color: #25173a;
        box-sizing: border-box;
    }
    
    .kronos h1 {
        font-family: "Cinzel", sans-serif;
        font-size: 2.5vw;
        margin-left: 1.5vw;
    }
    
    .menu {
        display: flex;
        align-items: center;
        gap: 3vw;
        margin-left: 0vw;
    }
    
    .opcoesHeader a {
        text-decoration: none;
        color: #25173a;
        font-size: 2.2vw;
        letter-spacing: 0.05vw;
        position: relative;
        transition: color 0.3s ease;
    }
    
    .areaRestrita {
        height: 3.5vw;
        cursor: pointer;
        margin-right: 2vw;
        display: flex;
    }
    
    .logoKronosDesktop {
        display: none;
    }
    
    .logoKronosMobile {
        display: block;
        height: 6vw;
        margin-left: 1.5vw;
    }
}
