/* * {
    outline: 1px solid red;
} */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

hr {
    border: none;
    height: 0.1vw;
    background-color: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
}

.menu a {
    position: relative;
    transition: 0.3s ease;
}

.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 1.6vw;
    width: 100%;
    height: 0.1vw;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease, background-color 0.3s ease;
}

.menu a:hover::after,
.menu a.ativo::after {
    background-color: #e6b648;
    transform: scaleX(1);
}

@media (max-width: 864px) {
    .menu a::after {
        top: 2.6vw;
    }
}

/* Tela de início -> Tela inicial */

.telaInicial {
    background: url("../img/roxo-fabril.png") no-repeat center/cover;
    width: 100%;
    text-align: center;
    display: flex;
    padding: 2vw 0;
}

.telaInicial .textoInicial {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.telaInicial h1 {
    font-family: "Cinzel", sans-serif;
    font-size: 3.5vw;
    line-height: 1.2em;
    margin: 0;
    color: #e6b648;
}

.telaInicial p {
    color: white;
    font-size: 1.55vw;
}

.telaInicial button {
    cursor: pointer;
    padding: 0.95vw 1.5vw;
    background-color: #e6b648;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    margin-top: 1.5vw;
    border: none;
    border-radius: 0.6vw;
    transition: background-color 0.2s ease;
}

.telaInicial button:hover {
    background-color: #C48F20;
}

.telaInicial .imgAppKronos {
    height: 45vw;
    margin: 5vw 0;
}

.conteudoTelaInicial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

/* Tela de início -> Problemas que resolvemos */

.problemasQueResolvemos {
    background: linear-gradient(#F2EEF6, #FFFFFF);
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.problemasQueResolvemos .caixaCentralProblemas {
    width: 90vw;
    background-color: #FFFFFF;
    border-radius: 1vw;
    box-shadow: 0 0 0.05vw 0.05vw rgba(0, 0, 0, 0.1);
}

.caixaCentralProblemas .caixaCentralTitulos {
    font-size: 1.3vw;
    display: flex;
    flex-direction: column-reverse;
    padding: 1.4vw 3.4vw;
}

.caixaCentralTitulos p {
    margin: 1vw 0 0 0;
    text-align: left;
    color: #382654;
}

.caixaCentralTitulos span, 
.caixaCentralTitulos span p {
    text-align: left;
    font-family: 'Crete Round', sans-serif;
    font-size: 1.6vw;
    color: #451B6D;
}

.caixaCentralProblemas .caixaCentralCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
    margin-top: 1vw;
}

.caixaCentralProblemas .caixaCentralCards h3 {
    color: #25173A;
    font-family: 'Cinzel', serif;
    padding-bottom: 1.5vw;
}

.caixaCentralCards {
    font-size: 1.2vw;
    margin: 0 3vw 3vw 3vw;
}

.caixaCentralProblemas .imgCaixaCentral {
    object-fit: contain;
    height: 4vw;
    width: 3vw;
    padding-bottom: 1.4vw;
}

/* Tela de início -> Benefícios que oferecemos */

.beneficiosQueOferecemos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beneficiosQueOferecemos h2 {
    font-family: 'Crete Round', serif;
    color: #451B6D;
    font-weight: 400;
    font-size: 2.5vw;
    margin-top: 2vw;
}

summary {
    list-style: none;
}

.beneficiosQueOferecemos details summary {
    height: 3vw;
    display: flex;
    align-items: center;
    margin-bottom: 0.3vw;
}

.beneficiosQueOferecemos .caixaExpansiva {
    cursor: pointer;
    margin: 1.8vw;
    padding: 1vw 1.3vw;
    width: 44vw;
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.2vw 0.4vw rgba(0, 0, 0, 0.3);
}

.beneficiosQueOferecemos .caixaExpansiva summary {
    color: #25173A;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    margin-left: 3vw;
}

.beneficiosQueOferecemos .caixaExpansiva p {
    font-size: 1.1vw;
    line-height: 2vw;
    font-family: 'Montserrat', sans-serif;
}

.beneficiosQueOferecemos .caixaExpansiva span {
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
}

.imgCaixasExpansivas {
    position: relative;
    right: 2.5vw;
    object-fit: contain;
    height: 3vw;
    width: 3vw;
}

.seta {
    content: "";
    width: 2vw;
    height: 1.2vw;
    position: absolute; 
    left: 68vw;
    background: url("../img/seta-kronos-baixo.png") no-repeat center/cover;
    transform: rotate(0deg); 
    transition: transform 0.2s ease;
}

.caixaExpansiva[open] .seta {
    transform: rotate(-180deg);
}

/* Tela de início -> Resultados que sua empresa vai alcançar */

.resultadosAlcancar {
    background: linear-gradient(#FFFFFF, #EADAF5);
}

.resultadosAlcancar h2 {
    font-family: 'Crete Round', serif;
    color: #451B6D;
    font-weight: 400;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

.caixinhasResultados {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 7vw;
    color: white;
}

.cards {
    background: linear-gradient(#5A2C85, #370963);
    width: 13vw;
    height: 17.5vw;
    margin-top: 1.5vw;
    border-radius: 0.4vw 0.4vw 2vw 0;
    box-shadow: 0.05vw 0.25vw 0.25vw rgba(0, 0, 0, 0.3);
}

.cards img {
    height: 3.5vw;
    width: 3.5vw;
    object-fit: contain;
    margin-top: 1.85vw;
}

.cards:nth-child(even) {
    margin-top: 6vw;
}

.cards p, .cards h1 {
    margin: 0.4vw;
}

.cards h1 {
    font-size: 2.6vw;
}

.cards p {
    font-size: 1vw;
}

blockquote {
    color: #451B6D;
    font-weight: 300;
    font-size: 1.6vw;
    display: flex;
    justify-content: center;
    padding: 6vw 0 3vw 0;
    font-style: italic;
}

@media (max-width: 820px) {
    /* Tela de início -> Tela inicial */
    .telaInicial {
        padding: 5vw 0;
    }

    .conteudoTelaInicial {
        flex-direction: column-reverse;
        padding: 0 5vw;
        align-items: center;
    }
    
    .telaInicial .textoInicial {
        order: 2;
        text-align: center;
        width: 90%;
        margin-top: 5vw;
    }

    .telaInicial .imgAppKronos {
        order: 1;
        height: 80vw;
        margin: 5vw 0 2.5vw;
    }

    .telaInicial h1 {
        font-size: 6vw;
        line-height: 1.3em;
    }

    .telaInicial p {
        font-size: 3vw;
        padding: 0 2vw;
    }

    .telaInicial button {
        padding: 2.2vw 3vw;
        font-size: 3vw;
        margin-top: 3vw;
        border-radius: 1.5vw;
    }

    /* Tela de início -> Problemas que resolvemos */
    .problemasQueResolvemos {
        padding: 5vw 0;
    }

    .problemasQueResolvemos .caixaCentralProblemas {
        width: 95vw;
        border-radius: 2vw;
    }

    .caixaCentralProblemas .caixaCentralTitulos {
        font-size: 3vw;
        padding: 3vw 4vw;
        text-align: center;
        align-items: center;
    }

    .caixaCentralTitulos p {
        margin: 2vw 0 0 0;
    }

    .caixaCentralTitulos span, .caixaCentralTitulos span p {
        font-size: 4vw;
    }

    .caixaCentralProblemas .caixaCentralCards {
        flex-direction: column;
        padding: 5vw;
        margin-top: 0;
    }

    .caixaCentralCards {
        font-size: 3vw;
        margin: 0 0 5vw 0;
        text-align: center;
    }

    .caixaCentralProblemas .imgCaixaCentral {
        margin-top: 5vw;
        height: 8vw;
        width: 7vw;
        padding-bottom: 2vw;
    }

    /* Tela de início -> Benefícios que oferecemos */

    .beneficiosQueOferecemos h2 {
        font-size: 5vw;
        margin-top: 5vw;
    }

    .beneficiosQueOferecemos details summary {
        height: auto;
        padding: 2vw 0;
    }

    .beneficiosQueOferecemos .caixaExpansiva {
        margin: 3vw 1.8vw;
        padding: 2vw 3vw;
        width: 85vw;
        border-radius: 1vw;
    }

    .beneficiosQueOferecemos .caixaExpansiva summary {
        font-size: 2.75vw;
        margin-left: 5vw;
    }

    .beneficiosQueOferecemos .caixaExpansiva p,
    .beneficiosQueOferecemos .caixaExpansiva span {
        font-size: 2.2vw;
        line-height: 4vw;
        padding-left: 2vw;
    }

    .imgCaixasExpansivas {
        right: 0;
        margin-right: 1.5vw;
        height: 6vw;
        width: 6vw;
    }

    .seta {
        object-fit: contain;
        left: 85vw;
        height: 2.4vw;
    }

    /* Tela de início -> Resultados que sua empresa vai alcançar */
    .resultadosAlcancar h2 {
        font-size: 5vw;
        margin-top: 5vw;
    }

    .caixinhasResultados {
        flex-wrap: wrap;
        gap: 5vw;
        padding: 5vw;
    }

    .cards {
        width: 35vw;
        height: 40vw;
        margin-top: 0;
        border-radius: 1.5vw;
        border-bottom-right-radius: 4vw;
    }

    .cards:nth-child(even) {
        margin-top: 0;
    }

    .cards img {
        height: 7vw;
        width: 7vw;
        margin-top: 7vw;
    }

    .cards h1 {
        font-size: 6vw;
    }

    .cards p {
        font-size: 2.5vw;
        padding: 0 1vw;
    }

    blockquote {
        font-size: 3.5vw;
        padding: 5vw;
        text-align: center;
    }
}
