/* * {
    outline: 1px solid red;
} */

.menu a.ativo::after {
    content: '';
    position: absolute;
    left: -0.5vw;
    top: 1.6vw;
    width: calc(100% + 1vw);
    height: 0.1vw;
    background-color: #e6b648;
    border-radius: 10px;
}

@media (max-width: 864px) {
    .menu a.ativo::after {
        top: 2.6vw;
    }
}

.telaPlanos {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 0vw 0vw 0vw 7vw;
    box-sizing: border-box;
}

.cardsPlanos, .tituloPrePlanos {
    font-size: 1.3vw;
}

.tituloPrePlanos h1 {
    padding-bottom: 1vw;
}

.tituloPrePlanos {
    margin: 3vw 0vw 5vw;
}

.cardsPlanos {
    display: flex;
}

.cardsPlanos h1{
    text-align: left;
    padding: 1.4vw 2.5vw;
    font-size: 3vw;
    font-family: "Cinzel", sans-serif;
}

.planoPro {
    background: #E7D0FF;
    box-shadow: 0vw 0vw 0.4vw 0.05vw rgba(0, 0, 0, 0.1);
}

.planoLite {
    background: #F0E1FF;
    box-shadow: 0vw 0vw 0.4vw 0.05vw rgba(0, 0, 0, 0.1);
}

.planoEnterprise {
    background: #5A2C85;
    box-shadow: 0vw 0vw 0.4vw 0.05vw rgba(0, 0, 0, 0.1);
}

.planoEnterprise h1 {
    color: #e6b648;
}

.colunaPlanos1 div, .colunaPlanos2 div {
    border-radius: 0.5vw 0.5vw 2.5vw 0vw;
}

.colunaPlanos1 div {
    width: 50vw;
    height: 17.5vw;
    margin: 0vw 0vw 5vw;
}

.colunaPlanos2 div {
    width: 30vw;
    height: 40vw;
    margin: 0vw 5vw 5vw;
}

.planoEnterprise::before {
    content: "Mais vantajoso";
    position: relative;
    left: 13.5vw;
    bottom: 0.8vw;
    background: #f4b942;
    color: #2e004f;
    padding: 0.4vw 2vw;
    border-radius: 0.4vw;
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 1.4vw;
}
