.menu a.ativo::after {
    content: '';
    position: absolute;
    left: -0.5vw;
    top: 1.6vw;
    width: calc(100% + 1vw);
    height: 0.1vw;
    background-color: #e6b648;
    border-radius: 10px;
}

@media (max-width: 864px) {
    .menu a.ativo::after {
        top: 2.6vw;
    }
}